<div>
    <button type = "button"  (click) = "logOut()">Log out</button>
    <button type = "button"  (click) = "goToBooks()">Books</button>
    <button type = "button"  (click) = "goToUserCabinet()">My cabinet</button>
</div>
<mat-expansion-panel >
    <mat-expansion-panel-header >
      <mat-panel-title class="mat-badge-medium" >
            <mat-icon  matBadgeSize = "small" matBadge={{books.books.length}} aria-label="icon">shopping_cart</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf= "isError == false" >
        <div *ngFor="let item of books.books " >
            {{item.title}}: {{item.amount}}  
            <button  (click)="deleteBook(item.id, item.amount)">
                <mat-icon class="icon" aria-label="icon">delete</mat-icon>
            </button>
        </div>
        <button *ngIf="books.books.length > 0" (click)="buyBooks()">
            Buy
        </button>
    </div>
</mat-expansion-panel>
<div *ngIf= "isError == true" >
    <p>{{error_message}}</p>
</div>
