<div>
    <button type = "button" class = "logout" (click) = "LogOut()">Log out</button>
    <button type = "button" class = "logout" (click) = "goToBooks()">Books</button>
</div>
<mat-expansion-panel >
    <mat-expansion-panel-header >
      <mat-panel-title class="mat-badge-medium" >
        <div >
            <mat-icon  matBadgeSize = "small" matBadge={{books.books.length}} aria-label="icon">shopping_cart</mat-icon>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf= "isError == false" >
        <div *ngFor="let item of books.books " >
            {{item.title}}: {{item.amount}}  
            <button class = "button1" (click)="DeleteBook(item.id, item.amount)">
                <mat-icon class="icon" aria-label="icon">delete</mat-icon>
            </button>
        </div>
        <button (click)="BuyBooks()">
            Buy
        </button>
    </div>
</mat-expansion-panel>
<div *ngIf= "isError == true" >
    <p>{{error_message}}</p>
</div>
