.logout{
    background-color: red;
    color: white;
    border-radius: 8px;
    padding: 14px 40px;
}

mat-expansion-panel {
    width: 15%;
}

.mat-badge {
    height: 20px;
    top: 6px;
}

.icon {
    transform: scale(0.8);
}

.button1 {
    padding: 1px;
}