<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
    <label>Email</label>
    <div class="form-group">
        <input class="form-control" name="email" formControlName="userEmail" [(ngModel)] = "user_email"/>
          
        <div class="alert alert-danger"
            *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
            <p>Email is invalid</p>
        </div>
    </div>
    <label>Password</label>
    <div class="form-group">
        <input type = "password" class="form-control" name="password" formControlName="UserPassword" [(ngModel)] = "user_password"/>
        <div class="alert alert-danger"
            *ngIf="myForm.controls['UserPassword'].invalid && myForm.controls['UserPassword'].touched && user_password != '' ">
            <p>Password contains invalid characters</p>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-default" [disabled]="myForm.invalid">
            Send
        </button>
    </div>
    <div *ngIf ="this.data_is_received == true">
        <h1>Login is success</h1>
    </div>
    <div *ngIf ="this.data_is_received == false">
        Password wrong
    </div>
</form>
<button (click) = "BookCatalog()">
    book catalog
</button>
<button (click) = "Registr()" >
    log up
</button>