
    <button *ngIf="!isLogin" (click)="login()">
        Log in
    </button>
    <div>
        <input id="textInput" type="text" [(ngModel)]="search_data" placeholder="Search..."> 
    </div>
    <div *ngIf = "isError==false">
        <div *ngFor="let book of books">
            <p>title: {{book?.title | amountSymbols : 3}}</p>
            <p>author: {{book?.author}}</p>
            <p>price:  {{book?.price}}</p>
            <p>{{book?.amount_in_storage}}</p>
            <button [disabled]  = "!book.amount_in_storage > 0" (click)="reserveBook(book?.id)">
                Reserve
            </button>
        </div>
    </div>

